<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
  This website is my implementation of Hartl's <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>, which teaches <a href="http://rubyonrails.org/">Ruby on Rails</a> by building a twitter clone from scratch to deployment.  The tutorial comes highly recommended for getting started with Ruby on Rails.</p>