<div class="center hero-unit">
  <h1>Jamie's Twitter Clone</h1>

  <h2>
    Built following along with Hartl's
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  </h2>

  <%= link_to "Sign up now!", signup_path,
                              class: "btn btn-large btn-primary" %>
</div>

